language: php

php:
  - 5.3
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.0
  - hhvm

cache:
    - apt

install:
  - composer self-update
  - composer --prefer-source install

script:
  - ./vendor/bin/phpcs --standard=PSR2 --report=emacs --extensions=php --warning-severity=0 src/ unit-tests/PHPSA/
  - ./bin/phpsa check -vvv ./tests
