<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="true"
         syntaxCheck="false"
         bootstrap="./unit-tests/PHPSA/Bootstrap.php"
        >

    <testsuites>
        <testsuite name="All tests">
            <directory>./unit-tests/PHPSA/</directory>
        </testsuite>
    </testsuites>
</phpunit>
